# Telegram Bot Token (BotFather'dan olingan token)
BOT_TOKEN=8985537152:AAGwr18aMa9oj1s5J6zEO0hE4ytLXurO6_I

# Asosiy Admin Telegram ID lari (vergul bilan ajratilgan)
ADMIN_IDS=6781163470

# Majburiy obuna kanallari (masalan: @mening_kanalim)
REQUIRED_CHANNELS=

# Ma'lumotlar bazasi fayli joylashuvi
DB_PATH=data/bot.db
